/.idea
/.ipynb_checkpoints
/c1.jpg
/c2.png
/f1.jpg
/flight.py
/Flight_Management_System_in_Python
/Flight_Management_System_in_Python (1)
/Flight_Management_System_in_Python (1).zip
/Flight_Management_System_in_Python.zip
/icon.png
/lp.py
/lp2.py
/lp22.py
/Untitled.ipynb
/venv